{% extends "layout.html" %}

{% block title %} Cart {% endblock %}

{%- block body -%}

<section class="product_list">
  <h1>Cart</h1>
  <div class="productc">
    
    {%- for item in items -%}
        <div class="card">
          <div class="image"><img src="static/{{ item.img }}" alt="uo no"></div>
          <div class="text">{{ item.title }} </div>
          <div class="product_price">{{ item.price }}</div> 
          <form action="/remove" method="post">
            <input type="hidden" name="id" value="{{ item.id }}">
            <button class="buy_button" type="submit">remove from cart</button>
          </form>
    </div>
{% endfor %}
  </div>
  <a href="/">Items</a>
</section>

{% endblock %}