<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .form_botton{
            display: block;
            justify-content: center;
            align-items: center;
            padding: .75rem 2rem;
            margin-left: 100px;
            outline: none;
            background-color: #1a73e8;
            color: #fff;
            font-size: 1rem;
            border-radius: .5rem;
            transition: .3s;
        }
        .greet{
            color: skyblue;
        }
    </style>
</head>
<body>
    
    <h3 class="greet">Hi, {{ username }} </h3>
    <h3>{{ password }}</h3>

    {%- for ro in row -%}
        {{ro.timestamp }}
    {%- endfor -%}
    <p class="gret">Trust you are doing well</p>
    
    <p>You have been given N1,000 as a welcome bonus</p>

    <a href="#" class="form_botton">Email Confirmation</a>
</html>